{% extends "samaritan/layout.html" %}

{% block heading %}

  <div>
    <br/>
    <h2><i class="fa fa-users fa-fw" aria-hidden="true"></i> Group members view</h2>
  </div>

{% endblock %}

{% block body %}

  <div class="container">

      <h3>Group: <i id="group-name"></i></h3>
      <br/>

      <!-- Button email modal -->
      <button type="button" class="btn btn-info btn-md" id="email-group-members">
        <i class="fa fa-envelope-o fa-fw"></i> Email
      </button>
      
      <!-- Button sms modal-->
      <button type="button" class="btn btn-info btn-md" id="sms-group-members">
        <i class="fa fa-comment fw" aria-hidden="true"></i> Message
      </button>

      <!-- Button add group members -->
      <button type="button" class="btn btn-primary btn-md" style="float:right" id="add-group-members">
        <i class="fa fa-user-plus fa-fw"></i> Add members
      </button>

  </div>

  <br/>

  <!-- Email alerts-->
  <div id="email-sending" class="alert alert-warning" role="alert" hidden="true">
      <i class="fa fa-info fa-fw" aria-hidden="true"></i>
      Sending emails, please wait...
  </div>

  <div id="email-success" class="alert alert-success" role="alert" hidden="true">
      <i class="fa fa-check fa-fw" aria-hidden="true"></i>
      Emails have been sent successfully
  </div>

  <div id="email-error" class="alert alert-danger" role="alert" hidden="true">
      <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
      <span id="error-msg">Error:</span>
  </div>

  <!-- SMS alers-->
  <div id="sms-sending" class="alert alert-warning" role="alert" hidden="true">
      <i class="fa fa-info fa-fw" aria-hidden="true"></i>
      Sending messages, please wait...
  </div>

  <div id="sms-success" class="alert alert-success" role="alert" hidden="true">
      <i class="fa fa-check fa-fw" aria-hidden="true"></i>
      Messages have been sent successfully
  </div>

  <div id="sms-error" class="alert alert-danger" role="alert" hidden="true">
      <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
      <span id="error-msg">Error:</span>
  </div>

  <div class="well">

    <table class="table table-striped table-hover" id="group-members-list">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>

{% include "samaritan/modals/email_modal.html" %}

{% include "samaritan/modals/message_modal.html" %}

{% include "samaritan/modals/delete_modal.html" %}

{% endblock %}

{% block jsfiles %}

{% load staticfiles %}
<script src="{% static 'resources/js/samaritan-common.js' %}"></script>
<script src="{% static 'resources/js/groups-view.js' %}"></script>

{% endblock %}