{% extends "samaritan/layout.html" %}

{% block heading %}

  <div>
    <br/>
    <h2><i class="fa fa-compass fa-fw" aria-hidden="true"></i> Role members view</h2>
  </div>

{% endblock %}

{% block body %}

  <div class="container">

      <h3>Role: <i id="role-name"></i></h3>
      <br/>

      <!-- Button for excel download -->
      <button type="button" class="btn btn-success btn-md" style="float:left" id="download-role-members">
        <i class="fa fa-file-excel-o fa-fw"></i> Excel
      </button>

  </div>

  <br/>

  <div class="well">

    <table class="table table-striped table-hover" id="role-members-list">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>

{% include "samaritan/modals/member_modal.html" %}

{% include "samaritan/modals/terminate_modal.html" %}

{% endblock %}

{% block jsfiles %}

{% load staticfiles %}
<script src="{% static 'resources/js/samaritan-common.js' %}"></script>
<script src="{% static 'resources/js/members-common.js' %}"></script>
<script src="{% static 'resources/js/roles-view.js' %}"></script>

{% endblock %}