{% block group_modal %}

<!-- Modal -->
<div class="modal fade" id="group-modal" role="dialog" aria-labelledby="groupModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="group-modal-label"></h4>
      </div>
      <div class="modal-body">
        <input id="group-id" type="hidden" value="">
        <div class="form-group">
          <input class="form-control" id="group-name" name="group-name" path="group-name" type="text" placeholder="Group name*" required maxlength="200"/>
        </div>
        <div class="form-group">
          <label for="group-description" style="float:left;margin-right:5px;">Group description <i id="additional-notes-label"></i></label>
          <textarea style="height: 200px" id="group-description" maxlength="10000" class="form-control" rows="3"></textarea>
        </div>

        <div id="required-fields-alert" class="alert alert-danger" role="alert" hidden="true">
          <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
          Please fill in all the required fields marked with an asterisk *
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="float:left" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Close</button>
        <button id="save-group" type="button" class="btn btn-success"><i class="fa fa-floppy-o fa-fw"></i> Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}