{% block message_modal %}

<!-- Modal -->
<div class="modal fade" id="sms-modal" role="dialog" aria-labelledby="smsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sms-modal-label"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sms-message" style="float:left;margin-right:5px;">Message* <i id="sms-message-label"></i></label>
          <textarea style="height: 250px" id="sms-message" maxlength="100000" class="form-control" rows="3"></textarea>
        </div>
        
        <div id="sms-required-fields-alert" class="alert alert-danger" role="alert" hidden="true">
          <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
          Please fill in all the required fields marked with an asterisk *
        </div>

        <div id="remaining-quota-alert" class="alert alert-danger" role="alert" hidden="true">
          <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
          Remaining SMS quota has been depleted. Please top up your allowance!
        </div>

        <div id="remaining-quota">

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="float:left" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Close</button>
        <button id="send-sms" type="button" class="btn btn-primary"><i class="fa fa-paper-plane fa-fw"></i> Send</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
