{% block mfa_disable_modal %}

<!-- Modal -->
<div class="modal fade" id="mfa-disable-modal" role="dialog" aria-labelledby="mfaDisableModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mfa-disable-modal-label">Disable multi factor authentication</h4>
      </div>
      <div class="modal-body">
          This operation will make your account less secure.
          <br/>
          Are you sure you wish to disable multi factor authentication?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="float:left" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> Close</button>
        <button id="disable-mfa-confirm" type="button" class="btn btn-danger"><i class="fa fa-times fa-fw"></i> Disable</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
