{% extends "samaritan/layout.html" %}

{% block heading %}

  <div>
    <br/>
    <h2><i class="fa fa-globe fa-fw" aria-hidden="true"></i> Everyone List</h2>
  </div>

{% endblock %}

{% block body %}

  <div class="container">

    <!-- Button for excel download -->
    <a type="button" class="btn btn-success btn-md" style="float:left" id="download-members" href="/export/download/everyone/excel/">
      <i class="fa fa-file-excel-o fa-fw"></i> Excel
    </a>
    &nbsp; &nbsp;
    <!-- Button email modal -->
    <button type="button" class="btn btn-info btn-md" id="email-everyone">
      <i class="fa fa-envelope-o fa-fw"></i> Email
    </button>

    <!-- Button trigger modal -->
    {% if request.user.is_staff %}
      <button type="button" class="btn btn-primary btn-md" style="float:right" id="add-person-button">
          <i class="fa fa-user-plus fa-fw"></i> New person
      </button>
    {% endif %}

  </div>

  <br/>

  <div id="email-sending" class="alert alert-warning" role="alert" hidden>
      <i class="fa fa-info fa-fw" aria-hidden="true"></i>
      Sending emails, please wait...
  </div>

  <div id="email-success" class="alert alert-success" role="alert" hidden>
      <i class="fa fa-check fa-fw" aria-hidden="true"></i>
      Emails have been sent successfully
  </div>

  <div id="email-error" class="alert alert-danger" role="alert" hidden>
      <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
      <span id="error-msg">Error:</span>
  </div>

  <div class="well">

    <table class="table table-striped table-hover" id="everyone-list">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Role</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>

{% include "samaritan/modals/member_modal.html" %}

{% include "samaritan/modals/email_modal.html" %}

{% if request.user.is_staff %}
  {% include "samaritan/modals/terminate_modal.html" %}
{% endif %}

{% endblock %}

{% block jsfiles %}

{% load staticfiles %}
<script src="{% static 'resources/js/samaritan-common.js' %}"></script>
<script src="{% static 'resources/js/members-common.js' %}"></script>
<script src="{% static 'resources/js/everyone.js' %}"></script>

{% endblock %}