{% extends "samaritan/layout.html" %}

{% block heading %}

  <div>
    <br/>
    <h2><i class="fa fa-history fa-fw" aria-hidden="true"></i> Historical Records</h2>
  </div>

{% endblock %}

{% block body %}

  <div class="container">

    <!-- Button for excel download -->
    <a type="button" class="btn btn-success btn-md" style="float:left" id="download-members" href="/export/download/historical/excel/">
      <i class="fa fa-file-excel-o fa-fw"></i> Download Excel
    </a>

  </div>

  <br/>

  <div class="well">

    <table class="table table-striped table-hover" id="historical-list">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>

{% include "samaritan/modals/historical_modal.html" %}

{% endblock %}

{% block jsfiles %}

{% load staticfiles %}
<script src="{% static 'resources/js/samaritan-common.js' %}"></script>
<script src="{% static 'resources/js/members-common.js' %}"></script>
<script src="{% static 'resources/js/history.js' %}"></script>

{% endblock %}