{% extends "samaritan/layout.html" %}

{% block heading %}

  <div>
    </br>
    <h2><i class="fa fa-home fa-fw" aria-hidden="true"></i> Welcome to Samaritan Church Management Assistant</h2>
  </div>

{% endblock %}

{% block body %}

  <div class="well">

    <table class="table table-striped table-hover" id="myTable">
      <thead>
        <tr>
          <th width="200">Table Header</th>
          <th>Table Header</th>
          <th width="150">Table Header</th>
          <th width="150">Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>This table is amazing</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Amazing stuff</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>More content</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Wow</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Perfectly good content</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>check this out man</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>

  </div>

{% endblock %}