{% extends "samaritan/layout.html" %}

{% block heading %}

  <div>
    </br>
    <h2><i class="fa fa-home fa-fw" aria-hidden="true"></i> Welcome to Samaritan Church Management Assistant</h2>
  </div>

{% endblock %}

{% block body %}

  <div class="container">
      <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-md" style="float:right" id="add-member-button">
      <i class="fa fa-user-plus fa-fw"></i> New member
  </button>

  </div>

  <br/>

  <div class="well">

    <table class="table table-striped table-hover" id="members-list">
      <thead>
        <tr>
          <th width="100">First Name</th>
          <th width="100">Last Name</th>
          <th width="50">Date of Birth</th>
          <th width="100">Telephone</th>
          <th width="150">Email</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>

<!-- Modal -->
<div class="modal fade" id="add-member-modal" role="dialog" aria-labelledby="addMemberModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new member</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <fieldset class="form-group">
            <input class="form-control" id="first_name" name="first_name" path="first_name" type="text" placeholder="First name*" required maxlength="200"/>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control" id="last_name" name="last_name" path="last_name" type="text" placeholder="Last name*" required maxlength="200"/>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control datepicker" data-date-format="mm/dd/yyyy" id="date_of_birth" name="date_of_birth" path="date_of_birth" type="text" placeholder="Date of birth* (mm/dd/yyyy)" required maxlength="10"/>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control" id="telephone" name="telephone" path="telephone" type="text" placeholder="telephone" maxlength="200"/>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control" id="email" name="email" path="email" type="email" placeholder="email" maxlength="200"/>
          </fieldset>
          <fieldset class="form-group">
            <label for="address-select" style="float:left;margin-right:5px;">Select Address*</label>
            <select class="form-control" id="address-select" name="address-select" required>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="is_baptised" style="float:left;margin-right:5px;">Baptised?</label>
            <input id="is_baptised" name="is_baptised" path="is_baptised" type="checkbox" placeholder="is_baptised" checked/>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control datepicker" data-date-format="mm/dd/yyyy" id="baptismal_date" name="baptismal_date" path="baptismal_date" type="text" placeholder="Baptismal date (mm/dd/yyyy)" maxlength="10"/>
          </fieldset>
          <fieldset class="form-group">
            <label for="is_member" style="float:left;margin-right:5px;">Church member?</label>
            <input id="is_member" name="is_member" path="is_member" type="checkbox" placeholder="is_member" checked/>
          </fieldset>
          <fieldset class="form-group">
            <label for="church-role-select" style="float:left;margin-right:5px;">Church role*</label>
            <select class="form-control" id="church-role-select" name="church-role-select" required>
            </select>
          </fieldset>

          <div id="required-fields-alert" class="alert alert-danger" role="alert" hidden>
            <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
            Please fill in all the required fields marked with an asterisk *
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save-member" type="button" class="btn btn-primary">Save member</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jsfiles %}

{% load staticfiles %}
<script src="{% static 'resources/js/app.js' %}"></script>

{% endblock %}