{% extends "samaritan/layout.html" %}

{% block heading %}

<div>
  </br>
  <h2><i class="fa fa-user fa-envelope" aria-hidden="true"></i> Email me a link instead</h2>
</div>

{% endblock %}

{% block body %}

<div id="success-email" class="alert alert-success" role="alert" hidden>
  <i class="fa fa-check fa-fw" aria-hidden="true"></i>
    An login link has been sent to your email address provided. Click on that link to automatically login.
</div>

<div id="invalid-email" class="alert alert-danger" role="alert" hidden>
  <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
  <span class="sr-only">Error:</span>
  Invalid email address provided
</div>

<h4>Enter your email address and we'll send you a link so you can login straight away, no password needed.</h4>

<div class="col-md-4 well">
    <form id="email-submit-form" role="form">
        <fieldset class="form-group">
            <input class="form-control" type="email" id="email" name="email" placeholder="email" required autofocus>
        </fieldset>
        <button id="send-login-link-email" class="btn btn-success" type = "submit" name="login"><i class="fa fa-envelope fa-fw"></i> Send me a login link</button>

    </form>
</div>

{% endblock %}

{% block jsfiles %}

{% load staticfiles %}
<script src="{% static 'resources/js/samaritan-common.js' %}"></script>
<script src="{% static 'resources/js/passwordless.js' %}"></script>

{% endblock %}
